 .slidecontainer {
  width: 220px; /* Adjust width as needed */
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #000 0%, #000 var(--range-progress), #d3d3d3 var(--range-progress), #d3d3d3 100%);
  outline: none;
  border-radius: 2rem;
  transition: background 0.2s;
}

/* Chrome & Safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: #09006b;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

/* Firefox */
.slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #09006b;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
